@model Machine

<h2>
  <form id="frm1" action="/Machines/ChangeStatus" method="post"
        class="pull-right">
    <input id="chk1" type="checkbox" name="status" value="true"
           checked="@Model.IsOn" data-toggle="toggle"
           data-onstyle="success" />
  </form>
  Vending Machine
</h2>

@if (TempData["Error"] != null) {
  <div class="alert alert-danger">
    @TempData["Error"]
  </div>
}

<div class="well well-sm">
  @foreach(Slot s in Model.Slots) {
    <button class="btn btn-info">
      <div>@s.Product.Name</div>
      <div>@s.Product.Price</div>
      <div>@s.Quantity</div>
    </button>
  }
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <div><span class="pull-right" style="font-size:2em">@Model.Amount</span></div>

    <form action="/Machines/AddCoin" method="post">

      @foreach (decimal coinAmount in Model.AcceptableCoins) {
        <button type="submit" class="btn btn-default"
                name="amount" value="@coinAmount"
                disabled="@(!Model.IsOn)">
          @coinAmount
        </button>
      }

      @if (Model.Amount > 0) {
        <button type="submit" class="btn btn-danger"
                formaction="/Machines/Cancel">
          Cancel
        </button>
      }
    </form>
  </div>
</div>

@section scripts {
  <script>
    $("#chk1").change(function () {
      $("#frm1").submit();
    });

  </script>
}